Flask==3.0.3
fuzzywuzzy==0.18.0
moviepy==1.0.3
pydub==0.25.1
pysrt==1.1.2
requests==2.32.3
spotipy==2.24.0
python-Levenshtein==0.26.0
celery[redis]
Flask_SQLAlchemy
Flask_Migrate
psycopg2-binary
boto3
